bundle/**/*
!bundle/.gitkeep
bundle_local/**/*
!bundle_local/.gitkeep
dict/**/*
!dict/migemo/cp932/.gitkeep
!dict/migemo/utf-8/.gitkeep
spell/**/*
!spell/.gitkeep
unite_bookmark/**/*
!unite_bookmark/.gitkeep
vimrc_local.vim
.vimrc_local.vim
